<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>donate_sys</display-name>
   <welcome-file-list>
    <welcome-file>IndexServlet</welcome-file> 
  </welcome-file-list>
 
  <servlet>
    <description>userLoginHandle</description>
    <display-name>userLoginHandle</display-name>
    <servlet-name>UserLoginHandle</servlet-name>
    <servlet-class>com.donate.servlet.user.UserLoginHandle</servlet-class>
  </servlet>
  <servlet>
    <description>UserRegister</description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.donate.servlet.user.UserRegister</servlet-class>
  </servlet>
  <servlet>
    <description>IndexServlet</description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.donate.servlet.other.IndexServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description>userLogoutHandle</description>
    <display-name>userLogoutHandle</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.donate.servlet.user.UserLogout</servlet-class>
  </servlet>
  <servlet>
    <description>ProjectPage</description>
    <display-name>ProjectPage</display-name>
    <servlet-name>ProjectPage</servlet-name>
    <servlet-class>com.donate.servlet.project.ProjectPage</servlet-class>
  </servlet>
  <servlet>
    <description>ProjectDonate</description>
    <display-name>ProjectDonate</display-name>
    <servlet-name>ProjectDonate</servlet-name>
    <servlet-class>com.donate.servlet.project.ProjectDonate</servlet-class>
  </servlet>
  <servlet>
    <description>ProjectDetail</description>
    <display-name>ProjectDetail</display-name>
    <servlet-name>ProjectDetail</servlet-name>
    <servlet-class>com.donate.servlet.project.ProjectDetail</servlet-class>
  </servlet>
  <servlet>
    <description>ProjectDetail</description>
    <display-name>ProjectDetail</display-name>
    <servlet-name>UserDetail</servlet-name>
    <servlet-class>com.donate.servlet.user.UserDetail</servlet-class>
  </servlet>
  <servlet>
    <description>AdminProjectList</description>
    <display-name>AdminProjectList</display-name>
    <servlet-name>AdminProjectList</servlet-name>
    <servlet-class>com.donate.servlet.admin.AdminProjectList</servlet-class>
  </servlet>
  <servlet>
    <description>ProjectAdd</description>
    <display-name>ProjectAdd</display-name>
    <servlet-name>ProjectOperate</servlet-name>
    <servlet-class>com.donate.servlet.admin.ProjectOperate</servlet-class>
  </servlet>
  <servlet>
    <description>UploadImage</description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>com.donate.servlet.admin.UploadImage</servlet-class>
  </servlet>
  <servlet>
    <description>ProjectAdd</description>
    <display-name>ProjectAdd</display-name>
    <servlet-name>ProjectAdd</servlet-name>
    <servlet-class>com.donate.servlet.admin.ProjectAdd</servlet-class>
  </servlet>






  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.donate.filter.LoginFilter</filter-class>
  </filter>

	
	<!-- 查看个人中心拦截 -->
  	<filter-mapping>
	    <filter-name>LoginFilter</filter-name>
	    <url-pattern>/user/detail</url-pattern>
  	</filter-mapping>	
  	
  	<!--活动捐款拦截 -->
  	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
	    <url-pattern>/project/donate</url-pattern>
 	</filter-mapping>
 	<!-- 管理员操作登陆拦截 -->
 	<filter-mapping>
 		<filter-name>LoginFilter</filter-name>
	    <url-pattern>/admin/*</url-pattern>
 	</filter-mapping>
 	
  <servlet-mapping>
    <servlet-name>UserLoginHandle</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectPage</servlet-name>
    <url-pattern>/project/page</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>ProjectDonate</servlet-name>
    <url-pattern>/project/donate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectDetail</servlet-name>
    <url-pattern>/project/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDetail</servlet-name>
    <url-pattern>/user/detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminProjectList</servlet-name>
    <url-pattern>/admin/projectlist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectOperate</servlet-name>
    <url-pattern>/admin/projectoperate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProjectAdd</servlet-name>
    <url-pattern>/admin/projectadd</url-pattern>
  </servlet-mapping>
  
 
</web-app>